.header-block {
	display: flex;
	width: 1516px;
	height: 43px;
	margin: 64px 272px 266px 132px;
	vertical-align: middle;
}
.header-left {
	display: flex;
	width: 190px;
	justify-content: space-between;
	vertical-align: middle;
}
.web {
	color: #3D37F1;
	height: 43px;
	font-size: 32px;
}
.ui-exp {
	color: #4B647E;
	height: 43px;
	font-size: 32px;
	}
.header-right {
	width: 596px;
	display: flex;
	justify-content: space-between;
	margin-left: 730px;
	vertical-align: middle;
	margin-top: 16px;
}
.home {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
	
}
.portfolio {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.about {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.blog {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.contact {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.section-block-1 {
	display: flex;
	margin: 0 80px 278.37px 132px;
}
.sec1-left-box {
	display: flex;
	flex-direction: column;
}
.main-title {
	width: 636px;
	font-size: 78px;
	color: #534D4D;
}
.section-text {
	width: 602px;
	height: 103px;
	font-size: 22px;
	color: #534D4D;
	margin-top: 39px;
}
.wave-button {
	display: flex;
	background-color: #3D37F1;
	width: 263.67px;
	height: 76.77px;
	border-radius: 38px;
	margin-top: 83.87px;
	justify-content: center;
	align-items: center;
}
.waving-hand {
	width: 40px;
	height: 35px;
}
.wave-text {
	color: #FFFFFF;
	width: 94px;
	height: 31px;
	font-size: 23px;
	margin-left: 30px;
}
.sec1-right-box {
	display: flex;
	margin-left: 271px;
}
.app-img {
	width: 801px;
	height: 498.81px;
	opacity: 1;
}
.section-block-2 {
	display: flex;
	margin: 85px 376px 130px 375px;
	flex-direction: column;
	width: 1920px;
}
.top-block {
	width: 712px;
	height: 197px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.our-services {
	color: #3D37F1;
	height: 27px;
	font-size: 20px;
	margin-top: 85px;
}
.service-title {
	width: 568px;
	height: 53px;
	font-size: 40px;
	color: #5A5454;
	margin-top: 12px;
}
.service-text {
	color: #747474;
	width: 712px;
	height: 85px;
	font-size: 18px;
	margin-top: 20px;
	line-height: 2;
}