.header-block {
	display: flex;
	width: 1516px;
	height: 43px;
	margin: 64px 272px 266px 132px;
	vertical-align: middle;
}
.header-left {
	display: flex;
	width: 190px;
	justify-content: space-between;
	vertical-align: middle;
}
.web {
	color: #3D37F1;
	height: 43px;
	font-size: 32px;
}
.ui-exp {
	color: #4B647E;
	height: 43px;
	font-size: 32px;
	}
.header-right {
	width: 596px;
	display: flex;
	justify-content: space-between;
	margin-left: 730px;
	vertical-align: middle;
	margin-top: 16px;
}
.home {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
	
}
.portfolio {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.about {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.blog {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.contact {
	color: #3D37F1;
	font-size: 20px;
	height: 27px;
}
.section-block-1 {
	display: flex;
	margin: 0 80px 278.37px 132px;
}
.sec1-left-box {
	display: flex;
	flex-direction: column;
}
.main-title {
	width: 636px;
	font-size: 78px;
	color: #534D4D;
}
.section-text {
	width: 602px;
	height: 103px;
	font-size: 22px;
	color: #534D4D;
	margin-top: 39px;
}
.wave-button {
	display: flex;
	background-color: #3D37F1;
	width: 263.67px;
	height: 76.77px;
	border-radius: 38px;
	margin-top: 83.87px;
	justify-content: center;
	align-items: center;
}
.waving-hand {
	width: 40px;
	height: 35px;
}
.wave-text {
	color: #FFFFFF;
	width: 94px;
	height: 31px;
	font-size: 23px;
	margin-left: 30px;
}
.sec1-right-box {
	display: flex;
	margin-left: 271px;
}
.app-img {
	width: 801px;
	height: 498.81px;
	opacity: 1;
}
.section-block-2 {
	display: flex;
	margin: 85px 376px 130px 375px;
	flex-direction: column;
	width: 1920px;
}
.top-block {
	width: 712px;
	height: 197px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.our-services {
	color: #3D37F1;
	height: 27px;
	font-size: 20px;
	margin-top: 85px;
}
.service-title {
	width: 568px;
	height: 53px;
	font-size: 40px;
	color: #5A5454;
	margin-top: 12px;
}
.service-text {
	color: #747474;
	width: 712px;
	height: 85px;
	font-size: 18px;
	margin-top: 20px;
	line-height: 2;
}
.bottom-block {
	width: 1169px;
}
.line1 {
	display: flex;
	justify-content: space-between;
	margin-top: 67px;
	margin-bottom: 60px;
}
.website-ui {
	background-image: linear-gradient(#FBBA77, #DFA871);
	width: 370px;
	height: 451px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 40px #C5C3F926;
}
.website-img {
	width: 100px;
	height: 100px;
	/*margin-top: 88px;*/
	margin: 88px 136px 55px 134px;
}
.service-box-title {
	height: 30px;
	font-size: 22px;
	color: #FFFFFF;
}
.service-box-text {
	height: 62px;
	font-size: 16px;
	color: #FFFFFF;
	margin: 12.11px 21px 10.95px 21px;
	text-align: center;
}
.read-more {
	border-radius: 23px;
	width: 131px;
	height: 45px;
	font-size: 15px;
	color: #FFFFFF;
	border: solid 2px;
	border-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.redesign {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background-image: linear-gradient(#41EAE3, #2293B7);
	box-shadow: 0 40px #C5C3F926;
}
.redesign-img {
	width: 100px;
	height: 108px;
	margin: 88px auto 46px;
}
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(#69529F,#463864);
	width: 370px;
	height: 451px;
	box-shadow: 0 40px #C5C3F926;
}
.app-icon {
	width: 100px;
	height: 115px;
	margin: 88px auto 40px;
}
.line2 {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.mob-app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background-image: linear-gradient(#4386D2, #0962C5);
	box-shadow: 0 40px #C5C3F926;
}
.mobile-app {
	width: 100px;
	height: 106px;
	margin: 88px auto 64px;
}
.web-app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background-image: linear-gradient(#A5A2F6, #564FD6);
	box-shadow: 0 40px #C5C3F926;
}
.web-app-icon {
	width: 100px;
	height: 90px;
	margin: 92px auto 60px;
}
.web-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background-image: linear-gradient(#FF8088, #984141);
	box-shadow: 0 40px #C5C3F926;
}
.web-elements-icon {
	width: 100px;
	height: 100px;
	margin: 87px auto 56px;
}